h1{color: rgb(39, 37, 37);font-size:64px;font-family: 'Times New Roman', Times, serif;}
h2{color: rgb(68, 63, 63);font-size:41px;font-family: 'Times New Roman', Times, serif;}
h3{color: rgb(68, 63, 63);font-size:32px;font-family: 'Times New Roman', Times, serif;}
p{color: rgb(68, 63, 63);font-size:24px;font-family: 'Times New Roman', Times, serif;}

body{
    background-color: lightsalmon;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
}

* {
    box-sizing: border-box;
}

.header {
    border: 1px solid red;
    padding: 15px;
}

.margen {
    margin: 15px 20px 25px 30px;
    padding: 30px 25px 20px 30px;
    border: solid 2px rgb(68, 63, 63);
}

div {
    width: 700px;
    margin: 15px 20px;
    padding: 30px 25px;
    border: solid 2px rgb(68, 63, 63);
}
